 <div class="org-display">

 <h1><%= link_to org.name, organisation_path(org.slug)%></h1>

 <h3><%= org.location %></h3>

 <p>Category: <%= org.category %></p>

 <p>Visit our website: <%= org.website %></p>
 <p><%= org.contact_info %></p>
 <p><%= org.mission %></p>

 <%= link_to "Edit Organisation", edit_organisation_path(org.slug), class:"btn btn-outline-warning btn-sm" if current_user == org.owner%>
 </div>