<h1>Edit Organisation</h1>
<%= simple_form_for [@organisation], url: organisation_path(@organisation.slug) do |f| %>
    <div class="form-group">
    <%= f.input :name, input_html: { class: 'form-control' }  %>
    </div>
    <div class="form-group">
    <%= f.input :location, input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
    <%= f.input :mission, input_html: { class: 'form-control' } %>
    </div>
    <%= f.button :submit, class:"btn btn-primary" %>
<% end %>