<h1>Edit Organisation</h1>
<%= simple_form_for [@organisation], url: organisation_path(@organisation.slug) do |f| %>
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :mission %>
    <%= f.button :submit, class:"btn btn-primary" %>
<% end %>