<h1>Organisations</h1>
<ul>
    <% @orgs.each do |org|%>
        <li>
        <h1><%= org.name %> </h1>
        
        <h3><%= org.location %> </h3>
        
        <p><%= org.mission %> </p>
        <h3>Events:</h3>
        <ul><% org.events.each do |event|%>
            <li>
            <h4><%= event.name %></h4>
            <%= event.location %><br>
            <%= event.datetime %></>
            <p><%= event.information %></p>
            </li>
        <% end%>
        </ul> 
        </li>
    <% end%>
</ul>