<h1>Create a New Organisation</h1>

<%= simple_form_for [@organisation] do |f| %>
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :mission %>
    <%= f.button :submit, value: "Create Organisation" %>
<% end%>