 <h1><%= @organisation.name %> </h1>

 <h3><%= @organisation.location %></h3>

 <p><%= @organisation.mission %></p>


<%= link_to "See Our Events", organisation_events_path(@organisation.slug) %>
 
<%= link_to "Create New Event", new_event_path %>