<%= simple_form_for [@event, @job] do |f| %>
<div class="form-group">
  <%= f.input :title, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
  <%= f.input :description, as: :text, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
  <%= f.input :assigned, 
              as: :radio_buttons, 
              checked: false,
              input_html: { class: 'inline' },
              input_html: { class: 'inline' }
  %>
  </div>
  <div class="form-group">
  <%= f.association :volunteer, hint: "If assigned then who is this job assigned to?", input_html: { class: 'form-control' } %>
  </div>
  <%= f.button :submit, class:"btn btn-primary"  %>
<% end %>