<h1>Jobs</h1>
<br>
<h3>Filter by:</h3>
<%= link_to "Available Jobs", jobs_available_path %>
<h5>Location:</h5>
<% @locations.each do | location|%>
    <%= link_to location, jobs_location_path(location) %>
<% end%>

<% if @jobs.empty?%>
    <p>Sorry we don't have any jobs right now, check back later.</p>
    <%=link_to "Create a new Job", new_event_job_path(@event) if user_signed_in? && current_user == @event.organisation.owner%>
<% else%>
    <%= render 'display_jobs', jobs: @jobs %>
    <% if @event%>
        <%=link_to "Create a new Job", new_event_job_path(@event), class:"btn btn-outline-primary btn-sm" if user_signed_in? && current_user == @event.organisation.owner%>
    <% end%>
<% end%>
