<h1><%= @job.event.name %></h1>
<p><%= @job.event.datetime %> </p>

<p>By: <%= link_to @organisation.name, organisation_path(@organisation.slug)  %></p>
<br>
<h3>Job Title:</h3>
<p><%= @job.title %> </p>
<h4>Job description:</h4>
<p><%= @job.description %> </p>

<% if @job.assigned %>
    <p>This job is Assigned to: <%= @job.volunteer.name %></p>
<% end%>
<%= link_to "Edit Job", edit_event_job_path %>