<h1><%= @job.title %> </h1>
<h4>Event:  <%=link_to @event.name, event_path(@event) %> </h4>
<h5>by: <%= @event.organisation.name%> </h5>
<h5><%= @event.datetime%> </h5>
<br>
<br>
<h5><%= @job.description %> </h5>
<br>
<% if !@job.assigned%>
  <%= simple_form_for [@event, @job] do |f| %>
    <%= f.hidden_field :assigned, value: true %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.button :submit, "Take this job", class:"btn btn-primary"  %>
  <% end %>
<% end%>
<br>
<% if @job.assigned && @job.volunteer%>
    <% if @job.volunteer == current_user%>
      <p class="alert alert-success">This job is assigned to: <%= @job.volunteer.name %></p>
      <%= simple_form_for [@event, @job] do |f| %>
        <%= f.hidden_field :assigned, value: false %>
        <%= f.hidden_field :user_id, value: nil %>
        <%= f.button :submit, "Dont want to work this anymore?", class:"btn btn-danger", data: { confirm: 'Are you sure?' }  %>
      <% end %>
    <% else%>
      <p class="alert alert-warning">Sorry this job is already assigned to: <%= @job.volunteer.name %></p>
    <% end%>
<% end%>

<br>


<ul class="list-group list-group-horizontal-sm">
<%= link_to "Edit Job", edit_event_job_path, class:"btn btn-outline-warning btn-sm" if current_user == @organisation.owner%> <br>
<%= link_to "Delete Job", event_job_path, method:"DELETE", data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger btn-sm" if current_user == @organisation.owner%> <br>
</ul>