<div class="navbar navbar-expand-lg navbar-light bg-light bottomnav fixed-bottom py-1">
    <ul class="navbar-nav w-100">
        <% if !user_signed_in? %>
        <li class="nav-item">
            <%= link_to 'Sign-in', new_user_session_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
            <%= link_to 'Sign-up', new_user_registration_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
            <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class:"nav-link" %>
        </li>
        <% else %>
        <li class="nav-item">
            <%= link_to 'Sign-out', destroy_user_session_path, method: :delete, class:"nav-link" %>
        </li>
        <li class="nav-item">
            <%= link_to 'User Account', edit_user_registration_path, class:"nav-link" %>
        </li>
        <% end%>
    </ul>
</div>