<h1>Welcome to the Volunteer Board</h1>

<p><strong>Check out our upcoming events</strong></p>

<ul>
<% @events.each do |event|%>
    <li>
    <h2><%= event.name %></h2>
    <h4>by: <%= event.organisation.name %></h4>
    
    <p><%= event.location %>
    <br>
    <%= event.datetime %>
    <br>
    <%= event.information %></p>
    <h5>Jobs:<h5>
    <ul>
    <% event.jobs.each do |job| %>
        <li><%= link_to job.title, organisation_event_job_path(event.organisation, event, job) %></li>
    <% end%>
    </ul>
    </li>
<% end%>

</ul>

