<h1><%= link_to event.name, event_path(event) %></h1>
    
<h4>by: 
<%= link_to event.organisation.name, organisation_path(event.organisation.slug) %></h4>

<p><%= event.datetime %></p>

<p><%= event.location %> </p>

<p><%= event.information %></p>





