<%= simple_form_for [@event] do |f| %>
    <%= f.input :name %>
    <%= f.input :date, value: Time.now %>
    <%= f.input :location %>
    <%= f.input :information %>
    <%= f.association :organisation%>
    <div id='jobs'>
    <h4>Create a new job for this event:</h4>
    <%= f.simple_fields_for :jobs do |job| %>
        <%= render 'job_fields', f: job %>
    <% end%>
    </div>
    <%= f.button :submit, class:"btn btn-primary" %>
<% end%>
 