<%= simple_form_for [@event] do |f| %>
    <%= f.input :name %>
    <%= f.input :date, value: Time.now %>
    <%= f.input :location %>
    <%= f.input :information %>
    <%= f.association :organisation%>
    <div id='jobs'>
    Create a new job for this event:
    <%= f.simple_fields_for :jobs do |job| %>
        <%= render 'job_fields', f: job %>
    <% end%>
    <div class='links'>
        <%= link_to_add_association 'add jobs', f, :jobs %>
    </div>
    </div>
    <%= f.button :submit %>
<% end%>
 