<h1>Events</h1>

<ul><% @events.each do |event|%>
    <div><li>
    <h1><%= link_to event.name, event_path(event) %></h1>
    <%= link_to "Edit Event", edit_event_path(event) if current_user == event.organisation.owner%>
    <h3>by: 
    <%= link_to event.organisation.name, organisation_path(event.organisation.slug) %></h3>
    
    <p><%= event.datetime %></p>
    
    <p><%= event.location %> </p>
    
    <p><%= event.information %></p>
    
    </li>
<% end%>
</div>
</ul>

<%= link_to "Create a new event", new_event_path %>
