<ul>

<% @events.each do |event|%>
    <li>
    <h1><%= event.name %></h1>
    <h3>by: <%= event.organisation.name %></h3>
    <p><%= event.organisation.mission %> </p>
    
    <p><%= event.datetime %></p>
    
    <p><%= event.location %> </p>
    
    <p><%= event.information %></p>
    
    <% event.jobs.each do |job| %>
        <p><%= link_to job.title, job_path(job) %> </p>
    <% end%>
    </li>
<% end%>

</ul>
