<h1>Create a New Event</h1>

<%= simple_form_for [@organisation, @event] do |f| %>
    <%= f.input :name %>
    <%= f.input :date %>
    <%= f.input :location %>
    <%= f.button :submit, value: "Create Event" %>
<% end%>
