<%= render 'display_event', event: @event %>

<div><h2>Jobs:</h2>
    <% if @event.jobs.present? %>
        <%= link_to "Available Jobs", event_jobs_available_path(@event) %>
        <br>
        <%= link_to "All Jobs", event_jobs_path(@event) %>
        <br>
        <%= render 'jobs/display_jobs', jobs: @event.jobs %>
    <% else%>
        <p>Sorry we don't have any jobs right now, check back later. </p>
    <% end%>
</div>

<% if current_user == @event.organisation.owner %>
    <div class="btn-group">
        <%= link_to "Add Job", new_event_job_path(@event), class:"btn btn-outline-primary" %><br>
        <%= link_to "Edit Event", edit_event_path, class:"btn btn-outline-warning" %><br>
        <%= link_to "Delete Event", event_path, method:"DELETE", data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger" %>
    </div>
<% end%>
