<h1><%= @event.name %> </h1>

<h3>By: <%= @event.organisation.name %></h3>

<p><%= @event.location %><br>
<%= @event.datetime %><br>
<%= @event.information %><br>
</p>

<%= link_to "Edit Event", edit_organisation_event_path(@event.organisation) %>