<%= render 'display_event', event: @event %>

<div><h4>Jobs:</h4>
    <% if !@event.jobs.empty? %>
        <%= render 'jobs/display_jobs', jobs: @event.jobs %>
    <% else%>
        <p>Sorry we don't have any jobs right now, check back later. </p>
    <% end%>
</div>
<%= link_to "Add Job", new_event_job_path(@event) if current_user == @event.organisation.owner%><br>
<%= link_to "Edit Event", edit_event_path if current_user == @event.organisation.owner%><br>
<%= link_to "Delete Event", event_path, method:"DELETE", data: { confirm: 'Are you sure?' } if current_user == @event.organisation.owner%>