<h1><%= @event.name %> </h1>

<h3>By: <%= link_to @event.organisation.name, organisation_path(@event.organisation.slug)  %></h3>

<p><%= @event.location %><br>
<%= @event.datetime %><br>
<%= @event.information %><br>
</p>

<div><h4>Jobs:</h4>
    <% if !@event.jobs.empty? %>
        <%= render 'jobs/display_jobs', jobs: @event.jobs %>
    <% else%>
        <p>Sorry we don't have any jobs for this event </p>
    <% end%>
</div>

<%= link_to "Edit Event", edit_event_path if current_user == @event.organisation.owner%>