<h1><%= @event.name %> </h1>

<h3>By: <%= link_to @event.organisation.name, organisation_path(@event.organisation.slug)  %></h3>

<p><%= @event.location %><br>
<%= @event.datetime %><br>
<%= @event.information %><br>
</p>

<%= link_to "Edit Event", edit_event_path %>