<!DOCTYPE html>
<html>
  <head>
    <title>Volunteerboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navigationbar' %>
      <div class="container">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <div class="row">
          <div class="col">
          <%= yield %>
          <br>
          <br>
          <br>
          </div>
        </div>
      </div>
    <%= render 'shared/bottombar' %>
  </body>
  <footer>
  <br>
 
  </footer>
</html>
