<!DOCTYPE html>
<html>
  <head>
    <html lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--The above 3 meta tags *must* come first in the head; any other content must come *after*-->
    <title>Volunteerboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <%= render 'shared/navigationbar' %>
    <div class="view">
      <div class="container">
        <%= render 'layouts/messages' %>
        <div class="card">
          <div class="card-body">
            <%= yield %>
            <br>
            <%= link_to "Back", :back %>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
  </body>
  <footer>
  <br>
  <br>
  </footer>
</html>
